*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*css variables*/
:root{
    --navbar-height:59px;
}
.h-primary{
    color: black;
}
h1{
    font-family: 'Fjalla One', sans-serif;
    margin: 9px 27px;
    font-size: 3rem;
    color: white;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 590px;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
#home::before{
    content: "";
    background: url("annie-spratt-OIuCXxx08yg-unsplash.jpg") no-repeat center center/cover;
    position: absolute;
    top:0px;
    left: 0px;
    height: 720px;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}
p{
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}
#home .btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #607d8b;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
#home .btn a{
    text-decoration: none;
    color: white; 
}
#home .btn:hover{
border: 1px solid blue;
   
}
#info{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 590px;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
#info::before{
    content: "";
    background: url("church-of-the-king-j9jZSqfH5YI-unsplash.jpg") no-repeat center center/cover;
    position: absolute;
    top:0px;
    left: 0px;
    height: 720px;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}
.info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 400px;
    border: 4px solid black;
    border-radius: 35px;
    background-color: #607d8b;
    
}
.info3{
    display: flex;
    /* border: 2px solid black; */
    height: 51px;
    width: 303px;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    font-size: 1.2rem;
}
input{
    height: 37px;
    width: 212px;
    border-style: none;
    border-radius: 33px;
    text-align: center;
}